/******************************
            footer
******************************/
.contenedor-footer {
    width: 100%;
    background: #1695A3;
    margin-top: 50px;
}
.copyright {
    font-size: 20px;
}
.copyright img {
    margin-left: 10px;
}
.social {
    text-align: center;
    font-size: 30px;
    padding: 10px;

}

.icono {
    width: 5%;
}
